@import "./colors";
@import "./components";
@import "./mixins";

.admin__panel {
	display: flex;
	flex-direction: column;
	gap: 5rem;
	align-items: center;
	nav {
		align-self: flex-start;
		padding: 4px 0;
		li {
			font-size: 2rem;
			color: $pure-white;
		}
		min-width: 30vw;
		display: flex;
		flex-direction: column;
		ul {
			display: flex;
			flex-direction: column;
			gap: 20px;
			list-style: none;
			padding: 0;
			margin: 0;
			li {
				margin: 0;
				padding: 1rem;
				border-bottom: 1px solid $pure-white;
				&:last-child {
					border-bottom: none;
				}
				ul {
					list-style: none;
					padding: 0;
					margin: 0;
					margin-left: 1rem;
					li {
						margin: 0;
						padding: 1rem;
						border-bottom: 1px solid $pure-white;
						&:last-child {
							border-bottom: none;
						}
					}
				}
			}
		}
	}
}
